<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="techmed.guide">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListOrganeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_organe" />
        <activity
            android:name=".activity.ListExamenActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_detail_organe"/>
        <activity
            android:name=".activity.ExamenActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_examen"/>
    </application>

</manifest>